<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="/CSS/login.css">
</head>
<body>
    <div class="form-wrap">
        <form action="/signup" method="POST">
            <div class="field-container">
                <input type="text" name="username" placeholder="Enter username" autocomplete="off"/>
            </div>
            <div class="field-container">
                <input type="email" name="email" placeholder="Enter Email" autocomplete="off"/>
            </div>
            <div class="field-container">
                <input type="password" name="password" placeholder="Enter password" />
            </div>
            <button>Create Account</button>
        </form>
    </div>
</body>
</html>